
/*
========================================================
Grid
========================================================
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*:before,
*:after { 
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #11073fe3;
    color: rgb(39, 58, 110);
    font: 300 16px/22px “Lato”, “Open Sans”, “Helvetica Neue”, Helvetica, Arial, sans-serif;
        }


.container {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    width: 960px;
}

.logo {
    border-top: 4px solid white;
    float: left;
    margin-top: 4px;
    padding-top: .5em;
    padding-right: 1em;
}



/* ========================
typography
*/ 

h1, h2, h3, h4, p{
    margin-bottom: 22px;
    color: rgb(158, 102, 211);
}

h1 { 
    line-height: 36px;
    font-size: 44px;
}

h2 {
    line-height: 44px;
    font-size: 24px;
}

h3 {
    font-size: 21;
}

h4 {
    font-size: 18px;
}

h5 {
    color:blue;
    font-size: 14px;
    font-weight: 400;
}

strong {
    font-weight: 400;
}

cite,
em {
    font-style: italic;
}

a {
    color: rgb(122, 164, 202);
}

a:hover {
    color: rgb(155, 154, 154);
}

.tagline {
    margin: 66px 0 22px 0;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
}

.primary-footer {
    color:rgb(132, 173, 235);
    font-size: 14px;
    padding-bottom: 44px;
    padding-top: 44px;
}

.primary-footer small {
   float:left;
   font-weight: 400;
}

.hero {
    line-height:44px;
    padding: 22px 80px 66px 80px;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
}
/*
buttons
*/

.btn{
    border-radius: 5px;
    display: inline-block;
    margin: 0; 
}

.btn-alt{
    border: 1px solid white;
    padding: 10px 30px; 
}

/*
hero
*/

.hero{
    padding: 22px 80px 66px 80px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

.teaser a:hover h3 {
    color:#a9b2b9;
}

a {
    color:#6c89db;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}

p a {
    border-bottom: 1px solid;
}

h5 {
    color:#4568c9;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

/* navigation */

.nav {
    text-align: right;
}

.hero {
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

/* footer */

.primary-footer a {
    color:#fff;
}

.primary-footer a:hover {
    color:#a9b2b9;
}

.hero {
    color:#fff;
    line-height: 44px;
    padding: 22px 80px 66px 80px;
    text-align: center;
}

.btn {
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #fff;
    color:#648880;
}

/* rows */

.row,
.row-alt {
    min-width: 960px;
}

.row {
    background: #fff;
    min-width: 960px;
    padding: 66px 0 44px 0;
}

.row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right,   #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0;
  }
 
/* leads */

.lead {
    text-align: center;
}

.lead p {
    font-size: 21px;
    line-height: 33px;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
  }
  .nav li:last-child {
    margin-right: 0;
  }

  /* speakers */

  .speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding: 22px 0;
    text-align: center;
  }

  .speaker {
      margin-bottom: 44px;
  }















































